@use "sass:color";

$font: 'Athiti', sans-serif;

$white-color: #fff;
$black-color: #000;

$dark-color: #141414;
$dark-light: color.adjust($dark-color, $lightness: 10%);

$primary-color: #e13428;
$primary-dark: color.adjust($primary-color, $lightness: -10%);
$primary-light: color.adjust($primary-color, $lightness: 10%);

$secondary-color: #989ca2;
$secondary-dark: color.adjust($secondary-color, $lightness: -10%);
$secondary-light: color.adjust($secondary-color, $lightness: 10%);

$gray-color: #e8e9e7;
$gray-dark: color.adjust($gray-color, $lightness: -10%);
$gray-light: color.adjust($gray-color, $lightness: 10%);

$radial-primary-gradient: radial-gradient(circle, $primary-color 0%, transparent 50%);
$radial-secondary-gradient: radial-gradient(circle, $secondary-color 0%, transparent 50%);