#About {
  position: relative;
  scroll-margin-top: 40px;
  overflow: hidden;
  .section__body {
    position: relative;
    align-items: center;
    gap: 3rem;
    z-index: 2;
  }
  .about__content {
    & h3 {
      margin-bottom: 1rem;
    }
    p {
      max-width: 50ch;
      font-size: clamp(0.875rem, 0.8024rem + 0.3226vw, 1.35rem);
      line-height: 1.5;
      text-wrap: pretty;
    }
  }
  .about__image {
    position: relative;
    border-radius: 1rem;
    border: 1px solid $white-color;
    box-shadow: 15px 0 35px -5px rgba($secondary-color, .5);
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}