#Header {
  position: relative;
  background-image: url('/images/header/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    left: -50%;
    top: 70%;
    height: 1300px;
    width: 1300px;
    background: $radial-primary-gradient;
    transform: translate(50%, -50%);
    mix-blend-mode: color-burn;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    right: -35%;
    top: 50%;
    height: 1300px;
    width: 1300px;
    background: $radial-primary-gradient;
    transform: translateY(-50%);
    mix-blend-mode: color-burn;
    z-index: 1;
  }
  & .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 2;
  }
  .header__content {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .header__description {
    text-wrap: pretty;
    &--subtitle {
      color: $secondary-dark;
      font-weight: 500;
      font-size: clamp(0.875rem, 0.8024rem + 0.3226vw, 1.125rem)
    }
    &--title {
      color: $primary-color;
    }
    &--text {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    @media screen and (min-width: 992px) {
      max-width: 65ch;
    }
  }
  .header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    & .btn {
      padding: .5rem 1.75rem;
    }
  }
}