@use '../abstracts/variables' as *;

.section {
  padding: 75px 0;
  &__body {
    display: grid;
    &.g-1 {
      grid-template-columns: 1fr;
    }
    &.g-2 {
      grid-template-columns: 1fr;
      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &.g-3 {
      grid-template-columns: 1fr;
      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &.g-4 {
      grid-template-columns: 1fr;
      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 3rem;
    & span {
      color: $primary-dark;
      font-weight: 500;
      font-size: clamp(0.875rem, 0.8024rem + 0.3226vw, 1.125rem)
    }
    & h2 {
      font-size: clamp(1.55rem, 1.1750rem + 3.0000vw, 2.85rem);
    }
  }
}